<!-- 整体块 -->
{% extends 'public/layout.html' %}

<!-- 主内容 -->
{% block content %}

@@include('./public/header.html')

<div class="content">
  <div class="groupbg">
    <img src="./images/join/j_01.jpg" alt="">
    <div class="arrow arrow-up"></div>
  </div>
  <div class="groupbg"><img src="./images/join/j_02.jpg" alt=""></div>
  <div class="groupbg"><img src="./images/join/j_03.jpg" alt=""></div>
  <div class="groupbg"><img src="./images/join/j_04.jpg" alt=""></div>
  <div class="groupbg">
    <div class="cloumn-box">
      <div class="cloumn-title">
        <h1>精选速购</h1>
        <h6>让你无法抗拒的理由</h6>
      </div>
      <div class="cloumn-infos great">
        <ul>
          <li><img src="./images/join/reason-1.jpg">
            <p>千亿数据把握需求</p>
          </li>
          <li><img src="./images/join/reason-2.jpg">
            <p>内容营销助力传播</p>
          </li>
          <li><img src="./images/join/reason-3.jpg">
            <p>免费开店0成本运营</p>
          </li>
          <li><img src="./images/join/reason-4.jpg">
            <p>百万店主帮你卖货</p>
          </li>
          <li><img src="./images/join/reason-5.jpg">
            <p>十亿曝光宣传导流</p>
          </li>
          <li><img src="./images/join/reason-6.jpg">
            <p>千万用户口碑复购</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="groupbg"><img src="./images/join/j_06.jpg" alt=""></div>
  <div class="groupbg">
    <div class="cloumn-box">
      <div class="cloumn-title">
        <h1>在线提交 入驻申请</h1>
      </div>
      <div class="cloumn-infos join-step">
        <div class="item">
          <h3>入驻阶段</h3>
          <img src="./images/join/step1.jpg" alt="">
          <div class="subtit">
            <span class="big">01</span>资质材料准备
          </div>
          <div class="subcon">
            1） 点击查询入驻所需<a href="//statics.jxsg.com/download/资质要求.xlsx">《资质要求》</a>；<br>
            2） 准备的材料须加盖申请入驻公司公章（鲜章）；<br>
            3）如申请材料不齐全，将退回，须重新提交审核。
          </div>
          <div class="subtit">
            <span class="big">02</span>和商品专员洽谈
          </div>
          <div class="subcon">
            1）资质材料初审；a资质真实有效。b授权有效，完整授权链，且授权书必须授权至公司全称。<br>
            c生产、经营范围、产品安全性资质完整、符合国家行政法、符合国家《行政法许可法》要求。<br>
            2）与商品专员洽谈合作细节；<br>
            3）按要求填写<a href="//statics.jxsg.com/download/产品报价表.xlsx">《产品报价表》</a>；4）寄送样品。
          </div>
        </div>
        <div class="item">
          <h3>审核阶段</h3>
          <img src="./images/join/step2.jpg" alt="">
          <div class="subtit">
            <span class="big">01</span>审核
          </div>
          <div class="subcon">
            ）资质复核；2）审核报价；3）审核样品。
          </div>
          <div class="subtit">
            <span class="big">02</span>签约
          </div>
          <div class="subcon">
            1）填写《售后服务表》、《供应商合同信息登记表》；<br>
            2）签订《合作服务协议》、《供应商廉洁协议》。
          </div>
        </div>
        <div class="item">
          <h3>开通店铺阶段</h3>
          <img src="./images/join/step3.jpg" alt="">
          <div class="subtit">
            <span class="big">01</span>申请开通店铺
          </div>
          <div class="subcon">
            后台填写店铺开通申请：<br>
            1）店铺命名《店铺命名规则》；2）选择店铺类型/类目；<br>
            3）按要求完善企业信息；4）审核周期2个工作日。
          </div>
          <div class="subtit">
            <span class="big">02</span>产品上架
          </div>
          <div class="subcon">
            1）在后台提交品牌申请；<br>
            2）按要求上传产品《商品发布命名规范》；3）上架销售。
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="groupbg"><img src="./images/join/j_08_01.jpg" alt=""></div>
  <div class="groupbg">
    <div class="probox">
      <ul>
        <li>
          <img src="./images/join/pro_01.jpg"><span>彩妆护肤</span>
        </li>
        <li>
          <img src="./images/join/pro_02.jpg"><span>个人护理</span>
        </li>
        <li>
          <img src="./images/join/pro_03.jpg"><span>服饰鞋靴</span>
        </li>
        <li>
          <img src="./images/join/pro_04.jpg"><span>箱包配饰</span>
        </li>
        <li>
          <img src="./images/join/pro_05.jpg"><span>母婴玩具</span>
        </li>
        <li>
          <img src="./images/join/pro_06.jpg"><span>家居家纺</span>
        </li>
        <li>
          <img src="./images/join/pro_07.jpg"><span>数码家电</span>
        </li>
        <li>
          <img src="./images/join/pro_08.jpg"><span>食品生鲜</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="groupbg"><img src="./images/join/j_08_06.jpg" alt=""></div>
  <div class="cloumn-box">
    <div class="cloumn-title">
      <h1>招商会现场</h1>
    </div>
    <div class="cloumn-infos jobs-info">
      <img src="./images/join/j_09.jpg">
      <div class="desc">
        <p>
          2018年4月26日，精选速购“破局·赢未来”2018品牌合作发布会在穗隆重举行，会议旨在联合各大优秀品牌合作商，一起探讨社交电商行业未来发展，共建社交电商生态链。国内近千家著名品牌供应商参与了此次品牌合作发布会，与会品牌有宝洁、资生堂、兰蔻、JAYJUN、陈李济、爱登堡、南极人、花王、香蒲丽、百雀羚、雅诗兰黛、茵曼、雷朋、倩碧、龙凤珠宝等大牌供应商。
        </p>
      </div>
      <a class="more" href="#" target="_blank">了解更多</a>
    </div>
  </div>
</div>

@@include('./public/footer.html')

{% endblock %}