.jobs-info {
  margin: 0 0.4rem;
  padding-bottom: 0.4rem;

  img {
    width: 100%;
    margin-bottom: 0.25rem;
  }

  .desc {
    margin-bottom: 0.3rem;
  }

  p {
    justify-content: space-between;
    font-size: 0.24rem;
    color: #666;
    line-height: 0.4rem;
    text-indent: 0.48rem;
  }

  .more {
    display: block;
    width: 2rem;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    background: rgba(23, 201, 219, 1);
    border-radius: 0.25rem;
    margin: 0 auto;
    color: #fff;
    font-size: 0.26rem;
  }
}

.join-step {
  margin: 0 0.4rem;
  font-size: 0.24rem;

  .item {
    padding-bottom: 0.55rem;

    a {
      color: #2fc6d6;
    }
  }

  h3 {
    font-size: 0.24rem;
    line-height: 0.54rem;
    background: linear-gradient(26deg, rgba(0, 193, 213, 1), rgba(41, 207, 224, 1));
    color: #fff;
    text-align: center;
  }

  .subtit {
    font-size: 0.33rem;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    color: #333;

    .big {
      font-size: 0.47rem;
      margin-right: 0.05rem;
    }
  }

  .subcon {
    line-height: 0.44rem;
    color: #666;
  }
}

.great {
  padding: 0 0.23rem 0.42rem 0.23rem;

  ul {
    width: 100%;
    overflow: hidden;

    li {
      width: 50%;
      float: left;
      text-align: center;
      padding: 0 0.07rem;

      p {
        margin-top: 0.2rem;
        margin-bottom: 0.4rem;
        font-size: 0.24rem;
        color: #333;
      }
    }
  }
}

.probox {
  background: #f6f5f6;
  padding: 0 0.36rem;

  ul {
    width: 100%;
    overflow: hidden;
    margin-bottom: -0.17rem;

    li {
      width: 50%;
      float: left;
      text-align: center;
      margin-bottom: 0.17rem;
      padding: 0 0.04rem;

      span {
        background: #fff;
        display: block;
        height: 0.8rem;
        line-height: 0.8rem;
        font-size: 0.3rem;
        color: #666;
      }
    }
  }
}