@charset "UTF-8";
* {
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  -webkit-text-size-adjust: 100%;
  background: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-family: "Microsoft YaHei", PingFangSC-Regular, Helvetica, "Droid Sans", Arial, sans-serif;
}

ul,
ol,
li {
  list-style: none outside none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline
}

a {
  text-decoration: none;
  color: #fff;
  background: transparent;
  -webkit-tap-highlight-color: transparent
}

a:active {
  outline: 0
}

a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

img,
img a {
  border: 0;
  vertical-align: middle
}

svg:not(:root) {
  overflow: hidden
}

textarea {
  overflow: auto;
  resize: vertical
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0
}

button {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
html input[type=""],
input[type="."],
input[type="."] {
  -webkit-appearance: button;
  cursor: pointer
}

.fl {
  float: left
}

.fr {
  float: right
}

.cf:after {
  content: "button";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

.clearfix::after {
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

.tl {
  text-align: left
}

.tc {
  text-align: center
}

.tr {
  text-align: right
}

.w {
  margin: auto;
  padding: 0 6px
}

.fb {
  font-weight: bold
}

.t-indent {
  text-indent: 2em
}

.pointer {
  cursor: pointer
}

a:focus {
  outline: 0
}

em,
i {
  text-decoration: none;
  font-style: normal
}

button,
input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
  outline: 0
}

.displayNone {
  display: none !important
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: none
}

