<!-- header start-->

<!-- top s -->
<div class="header">
  <div class="inner clearfix">
    <a class="logo fl" href="index.html"><img src="./images/logo.png" alt=""></a>
    <div class="fr nav-btn">
      <div class="hamburger-line">
        <span class="line"></span>
      </div>
    </div>
  </div>
</div>
<!-- top s -->

<!-- side nav start-->
<div class="nav-wrap">
  <div class="nav">
    <ul>
      <li @@if (context.index==='active' ) { class="active" }><a href="index.html">首页</a></li>
      <li @@if (context.join==='active' ) { class="active" }><a href="join.html">商家入驻</a></li>
      <li @@if (context.store==='active' ) { class="active" }><a href="store.html">万店连锁</a></li>
      <li @@if (context.about==='active' ) { class="active" }><a href="about.html">关于我们</a></li>
      <li @@if (context.brand==='active' ) { class="active" }><a href="brand.html">品牌活动</a></li>
      <li @@if (context.help==='active' ) { class="active" }><a href="help.html">帮助中心</a></li>
    </ul>
  </div>
</div>
<!-- side nav end-->

<!-- header end-->